@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: white;
  --black: black;
  --gold: #ffd700;
  --silver: #c0c0c0;
}

.header_mobile {
  border-radius: 10px;
  border: 2px solid var(--silver);
}

.btn_nav_menu {
  border-radius: 5px;
}

.menu_items {
  padding: 5px;
  border-radius: 0px 0px 10px 10px;
}

.img_carrossel {
  border: 2px solid var(--silver);
}
